body,h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto', sans-serif ;
}

p {
	color: #a0a0a0;
	font-size: 19px;
	line-height: 1.7;
}

.block-center {
	margin: 0 auto;
	float: none;
}

#navbar {padding: 20px;}

.navbar a {
	font-size: 18px;
}

.navbar-default {
	background: linear-gradient(to right, rgba(255,0,0,0), #fe2851,rgba(255,0,0,0));
	border-style: none;
}

.navbar-nav>.active>a {
	font-weight: bold;
	background-color: initial !important;
}

.navbar-nav>li>a {
	color: #fff !important;
}

.li-app {padding: 9px;}

/*First Section: Intor*/
.intro {
	background: url("../img/bg_header.jpg") no-repeat center;
    background-size: cover;
	color: #fff;
}

.intro h1 {
	font-size: 70px;
	line-height: 1.4;
	font-weight: lighter;
}

.intro .row {
	padding: 150px 0;
}

.btn-blu {
	color: #fff;
	font-size: 15px;
	background: linear-gradient(90deg, #28c2df, #2873fe);
	padding: 7px 20px;
	border: none;
	border-radius: 30px;
}

.btn-trn {
	font-size: 20px;
	margin: 75px 10px 0;
	padding: 10px 50px;
    background: none;
    color: #fff;
    border: 1px solid #fff;      
    border-radius: 30px;     
}

.btn-trn:hover {
	background: #fff;
	color: #fe2851;
}

.btn-wht {
	font-size: 20px;
	margin: 75px 10px 0;
	padding: 10px 50px;
	background: #fff;
	color: #fe2851;
	border: 1px solid #fff;
	border-radius: 30px;
}

.btn-wht:hover {
	background: none;
	color: #fff;
}

.about .row {padding: 70px 0;}

.about h1 {font-size: 45px;}

.about span {color: #4a4a4a}

/*Second Section: About*/
.slider {
	background-color: #f1f5f8;
}

/*Fourth Section: Features*/
.features .row {
	padding: 70px 0;
}

.feature-img {padding-top: 70px;}

.features h1 {font-size: 45px;}

.feature {
	margin: 40px 0 30px 0;
	display: flex;
	align-items: baseline;
}

.feature-ico {
	padding: 15px;
	margin-right: 20px;
	float: left;
	background: linear-gradient(-180deg, #fff, #f2f6f8);
    box-shadow: 0 4px 16px 1px #e6dddd;
    border-radius: 50%;
}

.feature-ico img, .honor img {width: 25px;}

.honor {
	padding: 15px;
	margin-right: 20px;
	float: left;
	background-color: #fe2851;
	box-shadow: 0 4px 16px 1px #e6dddd;
	border-radius: 50%;
}

.feature span, .honor span {color: #4a4a4a;}

/*Fifth Section: States*/
.states {
	background: url('../img/bg_stats.jpg') no-repeat center;
    background-size: cover;
	color: #fff;
}

.states .row {padding: 50px 0;}

.states span {
	font-size: 30px;
	font-weight: bold;
}

.states p {
	font-size: 15px;
	color: #fff;
}

.states-row {
	display: flex;
	justify-content: space-around;
}

.state-one {
	display: inline-block;
}

.cloud {
	display: inline-block;
    float: left;
    padding: 5px;
}

.cloud img{
	width: 35px;
}

.cloud_txt {
	display: inline-block;
}


/*Seventh Section: Testi*/
#testi {margin-top: -85px; padding-top: 85px;}

.testi {
	background: url('../img/bg_testi.jpg') no-repeat center;
    background-size: cover;
}

.testi_hr{position: relative;}

.testi_hr hr {
	position: absolute;
	width: 100%;
	top: 31px;
	border-top: 2px solid #eee;
}

.testi_hr div {background-color: #fff;}

.testi_hr h1 {
	font-size: 55px;
	text-align: center;
	margin-bottom: 75px;
}

/*Sixth Section: How it works*/
#app-works {margin-top: -93px; padding-top: 93px;}

.app-works .row {padding: 70px 0;}

.app-works p {
	padding: 40px 0 30px 0;
}

.app-works p span {color: #4a4a4a;}

.btn-app {
	color: #4a4a4a;
	font-size: 20px;
	background: #fff;
	margin: 6px;
	padding: 10px 30px;
	border: 1px solid #4a4a4a;
	border-radius: 30px;
}

.btn-host {
	color: #fff;
	font-size: 20px;
	background: linear-gradient(90deg, #fe763d, #fe2851);
	margin: 6px;
	padding: 11px 31px;
	border: none;
	border-radius: 30px;	
}

.app-works .video {
	width: 100%;
	-webkit-box-shadow: 0 29px 31px -15px #bebebe;
	   -moz-box-shadow: 0 29px 31px -15px #bebebe;
	   		box-shadow: 0 29px 31px -15px #bebebe;
}
/*.msg-top {
	background: url('../img/top.png');
}
*/

.testi {margin-bottom: 100px;}

.bubble-right, .bubble-left {margin-top: 150px;}

.bubble_right_mid {
	background: url('../img/bubble_right_mid.png') repeat-y;
	background-size: contain;
	float: left;
}

.bubble_right_mid p, .bubble_left_mid p {
	padding: 0 20px;
	margin: 0;
}

.bubble_left_mid {
	background: url('../img/bubble_left_mid.png') repeat-y;
	background-size: contain;
	float: left;
}

.bubble_left_mid div {
	float: right;
}

.bubble-sec-row {margin-top: 30px;}

.testi-owner {
	color: #4a4a4a;
	margin-top: 10px !important;
}

/*Footer Style*/
footer .row{
	padding: 50px 0;
	border-top: 1px solid #eee;
}

.footer-list div {
	display: inline-block;
	float: right;
}

.footer-list div a {
	padding: 5px;
	color: #a0a0a0;
}

.icon_social {
	display: inline-block;
    float: right;
    margin-top: 20px;
}

.icon_social a {
	padding: 6px;
}

.icon_social img {
	width: 17px;
}

/*Media Queries*/
@media (max-width: 575.98px) { 
	.navbar .container {display: block !important;}	

	ul.nav {text-align: center;}

	.intro h1 {font-size: 40px;}

	.intro .row {padding: 140px 0 100px;}

	.btn-wht, .btn-trn {margin-top: 30px;}

	.slick-slide img {padding: 25px !important;}

	.slick-dots {
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0 !important;
		bottom: -9px !important;
	}

	.features-list {
    	display: initial !important;
	}

	#features {margin-top: -93px; padding-top: 93px;}

	.states .states-row {
	    display: flex;
    	flex-direction: column;
    	align-items: center;
	}

	.one-state {display: inline-block;}

	.btns-app {
		margin-bottom: 30px;
		display: flex;
    	flex-direction: column;
    	align-items: center;	
	}

	.testi_hr h1 {font-size: 35px; margin-bottom: 25px;}

	.bubble-right, .bubble-left {margin-top: 0; margin-bottom: 30px;}

}

@media (max-width: 768px) { 
	.navbar .container {
		display: flex;
	    flex-direction: column;
    	align-items: center;
	}

	#navbar {padding: initial;}

	.navbar-brand img {width: 100px;}

	.feature-img {display: block; margin: 0 auto; padding-top: 0}

	.features-list {display: flex;}

	.btns-app {
		text-align: center;
		margin-bottom: 30px;
	}

	.testi_hr h1 {font-size: 35px;}

	.testi_hr hr {top: 21px;}

	.footer-list {text-align: center;}
	
	.footer-list div:first-child {
		display: grid;
    	float: none;
	}

	.footer-list div:last-child{float: none;}

	.icon_social {
		float: none;
    	margin-top: 0;
	}

	.footer-logo {text-align: center;}
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
	.intro .row {padding: 200px 0 150px;}

	.intro .col-md-6 { width: 100%;}
}
